In [15]:
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow.keras.layers import Dense
from tensorflow.keras import Sequential
from tensorflow.keras.optimizers import Adam
import matplotlib.pyplot as plt
from sklearn import datasets
import seaborn as sns
from sklearn import preprocessing

In [8]:
data = sns.load_dataset('titanic')
data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

### fare(승선가격),sex(성별)에 따른 생존유무를 예측하시요
#### w,b,를 구하고, 정확도를 구하시요.

In [35]:
xdata = data[['Sex_encode','fare']]
ydata = data['survived']

In [33]:
data.loc[data["sex"] == "male", "Sex_encode"] = 0
data.loc[data["sex"] == "female", "Sex_encode"] = 1
data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Sex_encode
0,0,0,0,0.0,0,0,0.0000,0,Third,man,True,NaN,Southampton,no,False,0.0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1.0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,1.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1.0
4,0,0,0,0.0,0,0,0.0000,0,Third,man,True,NaN,Southampton,no,True,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,0,0,0.0,0,0,0.0000,0,Second,man,True,NaN,Southampton,no,True,0.0
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,1.0
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,1.0
889,0,0,0,0.0,0,0,0.0000,0,First,man,True,C,Cherbourg,yes,True,0.0
890,0,0,0,0.0,0,0,0.0000,0,Third,man,True,NaN,Queenstown,no,True,0.0

In [38]:
x = tf.placeholder(tf.float32,shape=[None,2])
y = tf.constant( ydata, tf.float32)
w = tf.Variable( tf.random_uniform([2,1]))
b = tf.Variable(tf.random_uniform([1]))

hx = tf.matmul(x,w) +b
cost = tf.reduce_mean ( tf.square(hx-y) )

optimizer = tf.train.AdamOptimizer(0.1) #Learning rate
train = optimizer.minimize(cost)

sess = tf.Session()
init = tf.global_variables_initializer()
sess.run(init)

for i in range( 1000):
    sess.run( train, {x:xdata})
    print( i, sess.run(cost, {x:xdata}))

0 869.2419
1 630.1445
2 431.57034
3 273.20883
4 153.9229
5 71.512405
6 22.517105
7 2.1099288
8 4.1953306
9 21.78513
10 47.65534
11 75.15561
12 98.947556
13 115.46604
14 123.01248
15 121.53892
16 112.24559
17 97.1258
18 78.54021
19 58.863216
20 40.213882
21 24.26646
22 12.135618
23 4.3332634
24 0.7905762
25 0.94136757
26 3.8555653
27 8.405412
28 13.440947
29 17.948725
30 21.171795
31 22.676308
32 22.361937
33 20.422026
34 17.268278
35 13.435669
36 9.48456
37 5.9146314
38 3.099533
39 1.249353
40 0.402311
41 0.443323
42 1.1436095
43 2.212791
44 3.3537543
45 4.311202
46 4.9064984
47 5.054966
48 4.764956
49 4.1216516
50 3.2601771
51 2.334415
52 1.4872884
53 0.82735676
54 0.4149139
55 0.25860366
56 0.32173872
57 0.535806
58 0.8177788
59 1.087493
60 1.2819116
61 1.364048
62 1.325618
63 1.1839297
64 0.9742926
65 0.7402261
66 0.523586
67 0.35654312
68 0.2567348
69 0.22605415
70 0.25276253
71 0.31603098
72 0.39159775
73 0.45726153
74 0.49706656
75 0.50356746
76 0.4779241
77 0.4282138
78 0.36654285
79 0.305763
80 0.256574
81 0.22553611
82 0.21431915
83 0.22013666
84 0.23707813
85 0.2579349
86 0.27600154
87 0.28648794
88 0.28726476
89 0.2788834
90 0.26399237
91 0.24636334
92 0.22982603
93 0.21735574
94 0.21052234
95 0.20935385
96 0.21258195
97 0.21816424
98 0.22389333
99 0.22795591
100 0.2292918
101 0.22772466
102 0.22384638
103 0.21874
104 0.21362759
105 0.20953679
106 0.20708248
107 0.20637706
108 0.20709279
109 0.20861176
110 0.21023852
111 0.21138191
112 0.21169315
113 0.2111085
114 0.20981622
115 0.20816708
116 0.20654418
117 0.20526949
118 0.20452006
119 0.20430572
120 0.2045025
121 0.20489876
122 0.2052739
123 0.20545658
124 0.2053598
125 0.20499372
126 0.20444024
127 0.20382558
128 0.20326628
129 0.20285033
130 0.20261048
131 0.2025293
132 0.20254555
133 0.20258372
134 0.2025828
135 0.20250064
136 0.20232736
137 0.20208202
138 0.2018048
139 0.2015357
140 0.20130739
141 0.20113744
142 0.20102155
143 0.20094396
144 0.20087889
145 0.20080593
146 0.20070672
147 0.2005787
148 0.20042711
149 0.20026363
150 0.20010534
151 0.19995981
152 0.19983473
153 0.19972873
154 0.19963706
155 0.19954908
156 0.19945621
157 0.19935842
158 0.19925162
159 0.19913757
160 0.19902113
161 0.19890782
162 0.19880046
163 0.19870107
164 0.19860947
165 0.19852082
166 0.19843452
167 0.19834808
168 0.19825913
169 0.19816765
170 0.19807515
171 0.19798356
172 0.19789526
173 0.19780757
174 0.1977255
175 0.1976448
176 0.19756693
177 0.1974903
178 0.19741409
179 0.19733611
180 0.19725911
181 0.19718179
182 0.19710694
183 0.19703345
184 0.19696243
185 0.19689299
186 0.19682445
187 0.19675647
188 0.19668932
189 0.1966244
190 0.19655967
191 0.19649391
192 0.1964307
193 0.19636698
194 0.19630589
195 0.19624604
196 0.19618712
197 0.19612966
198 0.19607282
199 0.19601688
200 0.19596037
201 0.19590645
202 0.19585142
203 0.19579981
204 0.19574744
205 0.1956966
206 0.19564618
207 0.19559707
208 0.19554855
209 0.19550093
210 0.19545302
211 0.19540727
212 0.19536264
213 0.19531658
214 0.1952734
215 0.19523059
216 0.19518769
217 0.19514565
218 0.19510598
219 0.19506513
220 0.19502611
221 0.19498713
222 0.19494885
223 0.1949121
224 0.19487396
225 0.19483854
226 0.19480257
227 0.19476898
228 0.19473375
229 0.19469981
230 0.1946677
231 0.19463506
232 0.1946034
233 0.1945722
234 0.19454245
235 0.19451165
236 0.19448183
237 0.194452
238 0.19442445
239 0.1943971
240 0.19436942
241 0.19434214
242 0.194317
243 0.19428957
244 0.19426532
245 0.19423987
246 0.1942157
247 0.19419208
248 0.19416758
249 0.19414546
250 0.19412294
251 0.19410048
252 0.19407937
253 0.19405822
254 0.19403735
255 0.19401614
256 0.19399722
257 0.1939773
258 0.19395809
259 0.19393852
260 0.19392069
261 0.19390233
262 0.19388485
263 0.19386636
264 0.19385041
265 0.19383356
266 0.19381703
267 0.1938011
268 0.19378491
269 0.19377074
270 0.19375508
271 0.19374025
272 0.19372566
273 0.19371173
274 0.19369781
275 0.19368473
276 0.19367203
277 0.19365773
278 0.19364627
279 0.19363339
280 0.19362155
281 0.19360866
282 0.19359839
283 0.19358625
284 0.19357567
285 0.19356418
286 0.19355352
287 0.19354369
288 0.19353303
289 0.1935238
290 0.19351287
291 0.19350386
292 0.19349442
293 0.19348595
294 0.19347613
295 0.19346744
296 0.19345886
297 0.19345014
298 0.19344214
299 0.19343466
300 0.19342725
301 0.1934193
302 0.19341132
303 0.19340478
304 0.19339809
305 0.19339107
306 0.19338307
307 0.19337733
308 0.19337001
309 0.19336459
310 0.19335827
311 0.19335248
312 0.19334613
313 0.19334015
314 0.19333492
315 0.19332856
316 0.19332325
317 0.19331795
318 0.19331259
319 0.19330871
320 0.19330394
321 0.19329973
322 0.19329384
323 0.19328947
324 0.19328614
325 0.19328117
326 0.19327733
327 0.19327281
328 0.19326897
329 0.19326496
330 0.19326063
331 0.193257
332 0.19325419
333 0.19325075
334 0.19324623
335 0.19324316
336 0.19324003
337 0.19323623
338 0.19323404
339 0.19323052
340 0.19322723
341 0.1932245
342 0.19322142
343 0.19321874
344 0.1932165
345 0.19321437
346 0.19321154
347 0.19320978
348 0.19320656
349 0.1932046
350 0.19320239
351 0.19319873
352 0.19319789
353 0.193195
354 0.19319259
355 0.19319114
356 0.19318807
357 0.19318645
358 0.19318534
359 0.19318381
360 0.19318178
361 0.19317955
362 0.19317779
363 0.19317706
364 0.19317469
365 0.19317356
366 0.19317237
367 0.19316983
368 0.19316891
369 0.1931681
370 0.19316559
371 0.19316494
372 0.19316332
373 0.19316168
374 0.1931611
375 0.19315997
376 0.19315852
377 0.19315727
378 0.19315663
379 0.19315538
380 0.1931542
381 0.19315328
382 0.19315153
383 0.19315171
384 0.19315131
385 0.19314948
386 0.193148
387 0.193148
388 0.1931475
389 0.19314653
390 0.1931444
391 0.19314371
392 0.19314419
393 0.19314314
394 0.19314231
395 0.19314234
396 0.1931409
397 0.19314086
398 0.19313936
399 0.19313817
400 0.19313812
401 0.193138
402 0.19313754
403 0.1931371
404 0.19313647
405 0.19313599
406 0.1931351
407 0.19313595
408 0.19313389
409 0.19313425
410 0.1931331
411 0.1931336
412 0.19313242
413 0.19313215
414 0.19313124
415 0.19313104
416 0.1931312
417 0.19313143
418 0.19313064
419 0.19312966
420 0.19312997
421 0.19312997
422 0.1931283
423 0.19312891
424 0.1931284
425 0.19312792
426 0.1931273
427 0.19312792
428 0.19312777
429 0.1931272
430 0.1931275
431 0.19312683
432 0.1931255
433 0.19312584
434 0.19312559
435 0.19312586
436 0.19312601
437 0.19312589
438 0.19312605
439 0.19312608
440 0.19312562
441 0.1931254
442 0.19312494
443 0.19312485
444 0.19312446
445 0.19312395
446 0.19312371
447 0.19312282
448 0.19312382
449 0.19312328
450 0.1931235
451 0.1931246
452 0.19312333
453 0.19312255
454 0.19312316
455 0.19312252
456 0.1931223
457 0.19312315
458 0.1931218
459 0.1931224
460 0.1931223
461 0.19312252
462 0.19312125
463 0.1931224
464 0.19312261
465 0.19312124
466 0.19312139
467 0.19312206
468 0.19312088
469 0.19312216
470 0.19312218
471 0.1931218
472 0.1931213
473 0.19312118
474 0.19312082
475 0.19312182
476 0.19312136
477 0.19312064
478 0.19312055
479 0.19312108
480 0.19312057
481 0.193121
482 0.1931208
483 0.19312133
484 0.19312096
485 0.19312096
486 0.19312057
487 0.19312108
488 0.19312043
489 0.19312063
490 0.19312043
491 0.19312026
492 0.19311978
493 0.19312124
494 0.19312076
495 0.19312057
496 0.19312035
497 0.19312003
498 0.19311982
499 0.19312033
500 0.19312061
501 0.19312073
502 0.1931197
503 0.1931211
504 0.19312014
505 0.19311978
506 0.1931199
507 0.19312039
508 0.19311997
509 0.19312012
510 0.19312009
511 0.19311969
512 0.1931197
513 0.19311984
514 0.19311939
515 0.19312043
516 0.19312038
517 0.19311935
518 0.19312038
519 0.19311994
520 0.1931194
521 0.19311939
522 0.1931208
523 0.1931199
524 0.19311972
525 0.19311972
526 0.19312067
527 0.19312008
528 0.1931199
529 0.19311939
530 0.19312033
531 0.19311982
532 0.19312003
533 0.19311942
534 0.19312032
535 0.19311924
536 0.19312008
537 0.19311984
538 0.19311887
539 0.19312058
540 0.19311942
541 0.19312038
542 0.19311982
543 0.19311945
544 0.19311988
545 0.19312069
546 0.19311953
547 0.19311965
548 0.19312008
549 0.19311936
550 0.19312009
551 0.19312087
552 0.19311976
553 0.19311935
554 0.19311976
555 0.19311935
556 0.1931197
557 0.19312014
558 0.19311972
559 0.19311959
560 0.19311959
561 0.19311994
562 0.1931191
563 0.19311935
564 0.19312002
565 0.19312045
566 0.19311965
567 0.1931198
568 0.19311942
569 0.1931197
570 0.19311875
571 0.19311923
572 0.19311978
573 0.19312045
574 0.19312067
575 0.19311966
576 0.19312
577 0.19311908
578 0.19311948
579 0.19311991
580 0.19311902
581 0.19311887
582 0.19311951
583 0.19312014
584 0.19312038
585 0.19311902
586 0.19311965
587 0.19311982
588 0.19311939
589 0.19311953
590 0.19311966
591 0.19312014
592 0.19311927
593 0.19311914
594 0.19311924
595 0.19311984
596 0.19312032
597 0.1931205
598 0.19312057
599 0.19311935
600 0.19311982
601 0.19312008
602 0.19312014
603 0.19311963
604 0.1931197
605 0.19311942
606 0.19311994
607 0.19311865
608 0.19311903
609 0.19311921
610 0.19311935
611 0.19311945
612 0.19311965
613 0.19312021
614 0.1931202
615 0.19312021
616 0.19312078
617 0.19311953
618 0.19311948
619 0.19311959
620 0.1931198
621 0.1931199
622 0.19312033
623 0.19311929
624 0.19311939
625 0.19311988
626 0.19311959
627 0.19311951
628 0.1931197
629 0.19311886
630 0.19311884
631 0.1931189
632 0.19311927
633 0.19311911
634 0.19311915
635 0.19311963
636 0.19311984
637 0.19311982
638 0.19311982
639 0.19311982
640 0.19311982
641 0.19312002
642 0.1931202
643 0.19312012
644 0.1931205
645 0.19312061
646 0.19311921
647 0.19311982
648 0.19311976
649 0.19311991
650 0.19311991
651 0.19311951
652 0.19311948
653 0.19311966
654 0.1931196
655 0.19312021
656 0.19312021
657 0.19311924
658 0.19311923
659 0.19311921
660 0.19311945
661 0.19311947
662 0.19311959
663 0.19311959
664 0.1931192
665 0.1931198
666 0.19311982
667 0.19311985
668 0.19312002
669 0.19312008
670 0.19312003
671 0.19312002
672 0.19311853
673 0.19311862
674 0.1931186
675 0.19311865
676 0.19311859
677 0.1931192
678 0.19311917
679 0.19311917
680 0.19311933
681 0.19311891
682 0.19311899
683 0.19311899
684 0.19311936
685 0.1931194
686 0.19311951
687 0.19311951
688 0.19311945
689 0.19311954
690 0.19311954
691 0.19311954
692 0.19311954
693 0.19312008
694 0.19312008
695 0.19312003
696 0.19312002
697 0.19311996
698 0.19312008
699 0.19312006
700 0.19312002
701 0.19311991
702 0.1931199
703 0.19311988
704 0.19311985
705 0.19311985
706 0.19311982
707 0.19311982
708 0.19311988
709 0.19311985
710 0.1931199
711 0.19311957
712 0.19311966
713 0.19311963
714 0.1931197
715 0.19311978
716 0.1931198
717 0.1931198
718 0.19311988
719 0.19311991
720 0.1931205
721 0.19312058
722 0.19312058
723 0.19312046
724 0.19312046
725 0.19312046
726 0.1931204
727 0.1931204
728 0.1931204
729 0.1931204
730 0.19312046
731 0.19312055
732 0.19312052
733 0.19312055
734 0.19312055
735 0.19312055
736 0.19312052
737 0.19312061
738 0.19312057
739 0.19312057
740 0.19311903
741 0.19311903
742 0.19311903
743 0.19311903
744 0.1931194
745 0.19311939
746 0.19311936
747 0.19311936
748 0.19311935
749 0.19311935
750 0.19311933
751 0.1931193
752 0.1931193
753 0.19311924
754 0.1931193
755 0.1931193
756 0.1931193
757 0.19311933
758 0.19311935
759 0.19311935
760 0.1931194
761 0.19311942
762 0.19311953
763 0.19311953
764 0.19311969
765 0.19311966
766 0.19311965
767 0.19311965
768 0.19311965
769 0.19311954
770 0.19311954
771 0.19311954
772 0.19311957
773 0.19311957
774 0.19311954
775 0.19311957
776 0.19311957
777 0.19311954
778 0.19311954
779 0.19311957
780 0.19311957
781 0.19311957
782 0.19311957
783 0.19311957
784 0.19311959
785 0.19311959
786 0.19311959
787 0.19311959
788 0.19311959
789 0.19311959
790 0.19311959
791 0.19311959
792 0.19311959
793 0.19311959
794 0.19311959
795 0.19311959
796 0.19311963
797 0.19311959
798 0.19311959
799 0.19311957
800 0.19311957
801 0.19311957
802 0.19311957
803 0.19311959
804 0.19311959
805 0.19311957
806 0.19311957
807 0.19311957
808 0.19311957
809 0.19311957
810 0.19311959
811 0.19311957
812 0.19311957
813 0.19311957
814 0.19311957
815 0.19311954
816 0.19311953
817 0.19311954
818 0.19311954
819 0.19311953
820 0.19311954
821 0.19311954
822 0.19311954
823 0.19311954
824 0.19311954
825 0.19311954
826 0.19311954
827 0.19311954
828 0.19311985
829 0.19312009
830 0.19312009
831 0.19312008
832 0.19312009
833 0.19312009
834 0.19312009
835 0.19312009
836 0.19312008
837 0.19312008
838 0.19312008
839 0.19312008
840 0.19312008
841 0.19312008
842 0.19312008
843 0.19312009
844 0.19312009
845 0.19312009
846 0.19312009
847 0.19312009
848 0.19312009
849 0.19312012
850 0.19312012
851 0.19312012
852 0.19312014
853 0.19312018
854 0.1931202
855 0.1931202
856 0.1931202
857 0.1931202
858 0.19312021
859 0.19312026
860 0.19312026
861 0.19312026
862 0.19312026
863 0.19312026
864 0.19312026
865 0.19312026
866 0.19312026
867 0.19312026
868 0.19312026
869 0.19312026
870 0.19312026
871 0.19312026
872 0.19312026
873 0.19312026
874 0.19312026
875 0.19312026
876 0.19312026
877 0.19312026
878 0.19312026
879 0.19312026
880 0.19312026
881 0.19312026
882 0.19312026
883 0.19312026
884 0.19312026
885 0.19312026
886 0.19312026
887 0.19312026
888 0.19312026
889 0.19312026
890 0.19312026
891 0.19312026
892 0.19312026
893 0.19312026
894 0.19312026
895 0.19312026
896 0.19312026
897 0.19312026
898 0.19312026
899 0.19312026
900 0.19312026
901 0.19312026
902 0.19312026
903 0.19312026
904 0.19312026
905 0.19312026
906 0.19312026
907 0.19312026
908 0.19312026
909 0.19312026
910 0.19312026
911 0.19312026
912 0.19312026
913 0.19312026
914 0.19312026
915 0.19312026
916 0.19312026
917 0.19312026
918 0.19312026
919 0.19312026
920 0.19312026
921 0.19312026
922 0.19312026
923 0.19312026
924 0.19312026
925 0.19312026
926 0.19312026
927 0.19312026
928 0.19312026
929 0.19312026
930 0.19312026
931 0.19312026
932 0.19312026
933 0.19312026
934 0.19312026
935 0.19312026
936 0.19312026
937 0.19312026
938 0.19312026
939 0.19312026
940 0.19312026
941 0.19312026
942 0.19312026
943 0.19312026
944 0.19312026
945 0.19312026
946 0.19312026
947 0.19312026
948 0.19312027
949 0.19312027
950 0.19312027
951 0.19312027
952 0.19312027
953 0.19312027
954 0.19312027
955 0.19312027
956 0.19312027
957 0.19312027
958 0.19312027
959 0.19312027
960 0.19312027
961 0.19312027
962 0.19312027
963 0.19312027
964 0.19312027
965 0.19312027
966 0.19312027
967 0.19312027
968 0.19312027
969 0.19312027
970 0.19312027
971 0.19312027
972 0.19312027
973 0.19312027
974 0.19312027
975 0.19312027
976 0.19312027
977 0.19312027
978 0.19312027
979 0.19312027
980 0.19312027
981 0.19312027
982 0.19312027
983 0.19312027
984 0.19312027
985 0.19312027
986 0.19312027
987 0.19312027
988 0.19312027
989 0.19312027
990 0.19312027
991 0.19312027
992 0.19312027
993 0.19312027
994 0.19312027
995 0.19312027
996 0.19312027
997 0.19312027
998 0.19312027
999 0.19312027

In [39]:
sess.run(w)

array([[ 1.1359596e-08],
       [-4.2994258e-10]], dtype=float32)

In [40]:
sess.run(b)

array([0.26150396], dtype=float32)

In [43]:
result = sess.run(hx, {x:[[0,53]]})
result

array([[0.26150393]], dtype=float32)

In [41]:
xdata

     Sex_encode     fare
0           0.0   0.0000
1           1.0  71.2833
2           1.0   7.9250
3           1.0  53.1000
4           0.0   0.0000
..          ...      ...
886         0.0   0.0000
887         1.0  30.0000
888         1.0  23.4500
889         0.0   0.0000
890         0.0   0.0000

[891 rows x 2 columns]